

$white: #fff;
// $darkblue: #2C5D39;
// $mediumblue: #478451;

// $darkblue: #285085;
// $mediumblue: #3F7CAA;

$darkblue: #8691b7;
$mediumblue: #d2d8ee;

$lightbeige: #F6F3E6;
$beige: #faeed9;
$lightgrey: #EAE7DC;


$main_font: 'Raleway', sans-serif;
